* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #edf2f7; 
    color: #333; 
}


.dashboard-title, .spots-title, .sessions-title, .reviews-title {
    padding-top: 3rem; 
}



.user-initials {
    background-color: #4a5568; 
    color: white; 
    border-radius: 50%; 
    padding: 1rem; 
    display: inline-block; 
    margin-bottom: 1rem; 
}




.dashboard-content a {
    display: block; 
    background: #e2e8f0; 
    color: #333; 
    padding: 1rem; 
    border-radius: 0.25rem; 
    margin-bottom: 1rem; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.dashboard-content a:hover {
    background-color: #cbd5e0; 
}


.profile-photo-section {
    text-align: center; 
    margin-top: 1rem; 
}


.profile-photo {
    display: inline-block; 
    width: 150px; 
    height: 150px; 
    background-color: #aaa; 
    border-radius: 0.5rem; 
    margin-bottom: 1rem; 
}


.btn-change-photo {
    background-color: #3182ce; 
    color: white; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    font-size: 1rem;
    transition: background-color 0.3s; 
}

.btn-change-photo:hover {
    background-color: #2c5282; 
}



.spots-table, .sessions-table, .reviews-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: left; /* Align text to the left for table cells */
}

.spots-table td,
.spots-table th,
.sessions-table th,
.sessions-table td,
.reviews-table th,
.reviews-table td {
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.spots-table th,
.sessions-table th,
.reviews-table th {
    background-color: #e2e8f0;
    color: #333;
}

.spots-table tr:hover,
.sessions-table tr:hover,
.reviews-table tr:hover {
    background-color: #cbd5e0;
}


.user-dashboard, 
.study-spots-container, 
.study-sessions-container,
.reviews-container {
    position: relative; /* This will be the anchor point for the absolute positioning of the back button */
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: 2rem; /* Make sure padding is consistent */
}


.back-button {
    position: absolute; /* Absolute position relative to the nearest positioned ancestor (here .user-dashboard or .study-spots-container or .study-sessions-container) */
    top: 32px; /* Adjust this value to match the design */
    left: 32px; /* Adjust this value to match the design */
    background-color: #4a5568;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; /* Fixed width */
    height: 30px; /* Fixed height, making it a circle */
    cursor: pointer;
    top: 1rem; /* Adjust as needed to position correctly */
    left: 1rem;
}

.back-button:hover {
    background-color: #2c5282;
}



