/* Ensure the container and its children stretch to fit the viewport */
html, body, #root, .container-fluid, .row, .col-md-6 {
    height: 100%;
  }

/* Set maximum width for form controls */
.form-control {
    max-width: 400px; /* Adjust the value as needed */
    width: 100%; /* Ensure the text boxes still stretch to fit the screen */
    margin: 0 auto; /* Center the form controls */
    border: .5px solid black;
  }

  /* Center the labels */
.form-label {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

.form-control::placeholder {
    text-align: center; /* Center the placeholder text */
    padding: 0; /* Remove any padding */
}

  /* Center the button */
.form-button {
    text-align: center;
  }