
.gap {
    margin-top: 60px; /* Adjust the top margin as needed */
  }
  
.col-md-6 h2{
    font-weight: bold;
    font-size: 40px;
}

.placeholder-box {
    width: 100%;
    height: 400px; /* Set height of the placeholder box */
    background-color: #ccc; /* Add a background color */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hours {
    font-size: 16px;
  }

  .location {
    font-size: 16px;
  }